<!DOCTYPE html>
<html lang="ko">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>SNS Mining Project</title>

    <!-- Bootstrap Core CSS -->
    <link rel="stylesheet" href="../static/css/bootstrap.min.css">

    <!-- Custom CSS -->
    <link rel="stylesheet" href="../static/css/round-about.css">

    <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/earlyaccess/jejugothic.css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->



    <style type="text/css">
        #RIGHTMENU { margin: 0pt; padding: 0pt;  position: absolute; right: 0px; top: 0px;}
        #LEFTMENU { margin: 0pt; padding: 0pt;  position: absolute; left: 0px; top: 0px;}
        #pic_left  {clear: both; height: 350px; position: relative;}
        #pic_right  {clear: both; height: 350px; position: relative;}
        body {font-family:'Jeju Gothic', sans-serif;}
    </style>

    <!-- jQuery -->
    <script src="../static/js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="../static/js/bootstrap.min.js"></script>

</head>


<body>

    <!-- Navigation -->
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand active">&nbsp;AI LAB&nbsp;</a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li>
                        <a href="/" onclick=location.href="/">Full Corpus</a>
                    </li>
                    <li>
                        <a href="/relation" onclick=location.href="/relation">Relation Corpus</a>
                    </li>
                    <li>
                        <a href="/triplet" onclick=location.href="/triplet">Triplet</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

    <!-- Page Content -->
    <div class="container">

        <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>

        <script src="https://code.highcharts.com/highcharts.js"></script>
        <script src="https://code.highcharts.com/highcharts-3d.js"></script>
        <script src="https://code.highcharts.com/modules/exporting.js"></script>

        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">진영별 사용 단어 분포</h1>
                <p>정치인들이 많이 사용하는 SNS인 Twitter의 활동 데이터에 대해 텍스트 마이닝을 통해 정치적 상황에 따른 진영별 감정 상태 변화를 분석하는 모델을 개발하고 분석 및 시각화 도구 개발.</p>
                <div id="container" style="height: 700px"></div>
            </div>
        </div>

        

        <!-- Both Chart -->
        <script type="text/javascript">
            Highcharts.getOptions().colors = $.map(Highcharts.getOptions().colors, function (color) {
                return {
                    radialGradient: {
                        cx: 0.4,
                        cy: 0.3,
                        r: 0.5
                    },
                    stops: [
                        [0, color],
                        [1, Highcharts.Color(color).brighten(-0.2).get('rgb')]
                    ]
                };
            });

            var both = new Highcharts.Chart('container',{
                chart: {
                    marginLeft: 100,
                    marginRight: 100,
                    marginTop: 120,
                    marginBottom: 170,
                    type: 'scatter',
                    options3d: {
                        enabled: true,
                        alpha: 10,
                        beta: 30,
                        depth: 600,
                        viewDistance: 5,
                        fitToPlot: false,
                        frame: {
                            bottom: { size: 1, color: 'rgba(0,0,0,0.02)' },
                            back: { size: 1, color: 'rgba(0,0,0,0.04)' },
                            side: { size: 1, color: 'rgba(0,0,0,0.06)' }
                        }
                    }
                },
                title: {
                    text: 'Vocabulary Distribution'
                },
                subtitle: {
                    text: 'Top 100 Frequent words Analysis by Word2Vec'
                },
                yAxis: {
                    title: {
                        text: "<b>Y-Axis</b>"
                    }
                },
                xAxis: {
                    title: {
                        text: "<b>X-Axis</b>"
                    },
                    gridLineWidth: 1
                },
                zAxis: {
                    title: {
                        text: "<b>Z-Axis</b>"
                    },
                    showFirstLabel: false
                },
                plotOptions: {
                    scatter: {
                        marker: {
                            radius: 5,
                            states: {
                                hover: {
                                    enabled: true,
                                    lineColor: 'rgb(100,100,100)'
                                }
                            }
                        },
                        states: {
                            hover: {
                                marker: {
                                    enabled: false
                                }
                            }
                        }
                    },
                    series: {
                        stickyTracking: false
                    }
                },
                tooltip: {
                    crosshairs: true,
                    hideDelay: 100,
                    formatter: function(chart){
                        var p = this.point;
                        return '<p style="font-size:15px; font-weight:bold;">' + p.word + '</p><br>'
                                + '<p style="font-size:12px;">x:' + p.x + ', y:' + p.y + ', z:' + p.z + '</p>'
                                + '<br><p style="font-size:13px;"><br><b>[Similar Words]</b><br></p>'
                                + '<p style="font-size:12px;">'
                                + '<br>top1: ' + p.top0
                                + '<br>top2: ' + p.top1
                                + '<br>top3: ' + p.top2
                                + '<br>top4: ' + p.top3
                                + '<br>top5: ' + p.top4
                                + '<br>top6: ' + p.top5
                                + '<br>top7: ' + p.top6
                                + '<br>top8: ' + p.top7
                                + '<br>top9: ' + p.top8
                                + '<br>top10: ' + p.top9 + '</p>'
                    }                    
                },
                series: [{
                    name: 'Bacteria',
                    color: 'rgba(59, 150, 237, 0.5)',
                    data: {{bac|safe}}
                }, {
                    name: 'Disease',
                    color: 'rgba(0, 77, 59, 0.5)',
                    data: {{dis|safe}}
                }, {
                    name: 'Relation',
                    color: 'rgba(237, 77, 200, 0.5)',
                    data: {{rel|safe}}
                }],
                legend:{
                    itemStyle:{
                        fontSize: '18px'
                    },
                    floating: true,
                    backgroundColor: '#FFFFFF'
                }
            });

            // Add mouse events for rotation
            $(both.container).on('mousedown.hc touchstart.hc', function (eStart) {
                console.log("both chart click\n")
                eStart = both.pointer.normalize(eStart);

                var posX = eStart.pageX,
                    posY = eStart.pageY,
                    alpha = both.options.chart.options3d.alpha,
                    beta = both.options.chart.options3d.beta,
                    newAlpha,
                    newBeta,
                    sensitivity = 5; // lower is more sensitive

                $(document).on({
                    'mousemove.hc touchdrag.hc': function (e) {
                        // Run beta
                        newBeta = beta + (posX - e.pageX) / sensitivity;
                        both.options.chart.options3d.beta = newBeta;

                        // Run alpha
                        newAlpha = alpha + (e.pageY - posY) / sensitivity;
                        both.options.chart.options3d.alpha = newAlpha;

                        both.redraw(false);
                    },
                    'mouseup touchend': function () {
                        $(document).off('.hc');
                    }
                });
            });
        </script>


        <!-- Footer -->
        <footer>
            <div class="row">
                <div class="col-lg-12">
                    <p>Copyright 2017. Joohong Lee in Hanyang Univ. AI LAB</p>
                </div>
                <!-- /.col-lg-12 -->
            </div>
            <!-- /.row -->
        </footer>
    </div>
    <!-- /.container -->


</body>

</html>
